.therapist-schedule-layout {
    display: flex;
    align-items: flex-start;
}

.therapist-schedule-content {
    margin-left: 280px; /* Account for sidebar */
    padding: 20px;
    width: calc(100% - 280px);
}

.therapist-schedule-title {
    position: absolute;
    top: -43px;
   left: 300px; /* Adjust this as needed */
    font-size: 32px;
    font-weight: bold;
    color: #3F4662;
}

/* Table styling similar to upcoming appointments */
.therapist-schedule-container {
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    overflow-x: auto;
    border: 1px solid #3F4662;
    margin-top: 70px;
}

.therapist-calendar {
  width: 400px; 
  height: 350px; 
  border: 2px solid #ccc; 
  border-radius: 5px;
  font-size: 16px;
}

.schedule-calendar .rbc-calendar {
    border-radius: 8px;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 100%;
}

.schedule-calendar .rbc-btn-group button {
    background-color: #f0f0f0;
    border: none;
    color: #333;
    border-radius: 4px;
  }

.schedule-calendar .rbc-btn-group button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
  }

  .therapist-schedule-calendar .rbc-month-view .rbc-header {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  
  /* Style the calendar events  */
  .therapist-schedule-calendar .rbc-event {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  /* Style selected events */
  .therapist-schedule-calendar .rbc-event.rbc-selected {
    background-color: #0056b3; 
  }

  .rbc-btn-group > button {
    font-size: 0.8rem;
  }
  
  .rbc-toolbar button { 
    font-size: 0.8rem;
    width: 75px;
  }
  
  .rbc-toolbar {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center;
  }

/* Input for appointment notes */
.appointment-notes-input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Responsive design */
@media (max-width: 768px) {
    .therapist-schedule-content {
        margin-left: 0;
        padding: 10px;
        width: 100%;
    }
}