.Landing-Container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  min-height: 90vh; /* Takes the entire height of the viewport */
  justify-content: space-between;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
}

.Therapists {
  margin-top: 40px;
  text-align: center;
  flex-grow: 1; /* Ensures it takes the available space */
}
.TherapistLbl{
  color: '#2d848b';
}

/* Flexibly setting the slide width */
.carousel-slide {
  display: flex;
  justify-content: center;
  gap: 40px; /* Space between images */
  width: 100%;
  overflow: hidden;
}

/* Adapting the image size for better responsiveness */
.carousel-image {
  width: 80%; /* Takes the full width of its container */
  max-width: 280px; /* Limit the image size */
  max-height: 280px; /* Maintain proportions */
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.20s ease-in-out, opacity 0.20s ease-in-out;
}

/* Carousel navigation button styling */
.carousel-button {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 8px;
}

.carousel-button.left {
  left: px; /* Adjust based on your layout */
}

.carousel-button.right {
  right: -40px;
}

/* Styling dots for better visibility */
.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 8px;
  
}

/* Dot style with hover effect */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  

}

.dot:hover {
  background-color: #555;
}

.active {
  background-color: #2D848B;
}
