header {
    background-color: #94C5B5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
}

h1, h2 {
    color: #3F4662;
}

.Appointment-pg-cnt {
    background: #F7EEDD;
}

.Accordion-grp {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SLPBook, .OTBook {
    color: #3F4662;
    background: #F6EFED;
    width: 97%;
    padding: 5px;
    margin: 10px;
    justify-content: center;
    text-align: justify;
    border-radius: 20px;
    display: grid;
    margin-top: -10px;
    margin-bottom: 20px;
    place-items: center; /* Center horizontally and vertically */
    
    
}

.book-cnt {
    margin: 20px;
    font-size: 18px;
}

.btn-container {
    text-align: right;
    
}

.choose-lbl{
    color: #2d848b;
    font-size: 23px;
}

.book-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px; /* Adjust height for better alignment */
    padding: 10px;
    background: #2D848B;
    color: #fff;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-size: 18px; /* Adjust font size */
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    margin: 10px auto; /* Center the button inside the parent container */
    margin-top: -20px;
    transition: background-color 0.3s ease-in-out;
}
    .book-btn:hover {
        background-color: #94C5B5;
        border-color: #2D848B;
    }

.chooseTimeDate {
    display: flex;
    flex-direction: row;
    
}

.chooseTime{
    margin-top: -30px;
}

.chooseDate{
    width: 70%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -30px;
}

.Time {
    background-color: #F6EFED;
    width: 200px;
    margin: 5px;
    color: #3F4662;
    
}

.Time.selected {
    background-color: #2D848B;
    border-color: #3F4662;
    
}

.TherapistAvail {
    display: flex;
    justify-content: center;
}
.AvailTherapist {
    background-color: #F6EFEDED;
    width: 80%;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
}

.continue-cnt {
    display: flex;
    text-align: right;
    justify-content: right;
    margin-right: 100px;
}

.continue-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px; /* Adjust height for better alignment */
    padding: 10px;
    background: #2D848B;
    color: #fff;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-size: 20px; /* Adjust font size */
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    margin: 10px auto; /* Center the button inside the parent container */
    margin-top: 40px;
    transition: background-color 0.3s ease-in-out;
    
}

    .continue-btn:hover {
        background-color: #94C5B5;
        border-color: #2D848B;
    }

.Time.selected {
        background-color: #1d3f66; /* Or any darker color you prefer */
        color: white; 
      }


.navbar-link{

    background: none;
  border: none;
  padding: 20px;
  margin: 30px;
  font: inherit;
  color: inherit;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
  list-style-type: none;
  border-radius: 8px;
}

.Confirm-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 40px; /* Adjust height for better alignment */
    padding: 10px;
    background: #2D848B;
    color: #fff;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-size: 20px; /* Adjust font size */
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    margin: 10px auto; /* Center the button inside the parent container */
    transition: background-color 0.3s ease-in-out;
}

.ConfirmInfo{
    margin-top: -40px;
    color: #3F4662 ;

}


.logout-btn{
    width: 220px;
  height: 50px;
  padding: 5px;
  background: #2D848B;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-bottom:20px;
  margin-left: 50px;
}

.title-heading {
    margin-top: 110px;
    margin-bottom: 20px;
    color: #2d848b;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
  }

.Nav-bar-drawer .MuiDrawer-paper {
    background-color: #94C5B5; /* Match the sidebar background color /
    color: white;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; / Full height */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-family: bold;
  
  }
  
  .Nav-bar-drawer{
    z-index: 1300;
  
  }
  .Nav-bar-drawer .MuiListItem-root {
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: background-color 0.3s ease;
  }
  
  .Nav-bar-drawer .MuiListItem-root a {
    border-radius: 8px;
    margin-bottom: 8px;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }

  .Nav-bar-drawer .MuiListItem-root:hover {
    background-color: #2D848B;
  }
  
  .Nav-bar-drawer .MuiListItemText-root {
    font-size: 18px;
    font-weight: bold;
  }
  
  .Nav-bar-drawer .MuiButtonBase-root {
    color: white;
    text-align: left;
  }
  
  .Nav-bar-drawer .MuiList-root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .Nav-bar-drawer-footer {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
  }