header {
    background-color: #94C5B5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: fixed;
    width: 100%;
    padding: 20px;
}

.nav-cnt {
    display: flex;
    justify-content: center; /* Center horizontally within the navigation container */
    width: 100%; /* Optional: Ensure the container takes full width */
  }
  
  nav{
    font-size: 13px;
    color: white;
    display: flex;
    gap: 1.5rem;
  }

  .nav-cnt {
    display: flex;
    justify-content: center; /* Center horizontally within the navigation container */
    width: 100%; /* Optional: Ensure the container takes full width */
  }
  
  h3 {
    font-size: 25px;
    color: #3F4662;
    margin-top: 10px;
  }

  p {
    font-size: 20px;
  }
.patients-lessons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.patient-info, .patient-lessons, .remarks, .report-file {
  border: solid 1px #3F4662;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.patient-info {
    background: #F8F2F2;
    margin: 5%;
    margin-right: 0px;
    margin-bottom: 1%;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    width: 50%;
    
}

.patient-lessons {
    background: #F8F2F2;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 1%;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.reports-remarks {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.remarks {
    background: #F8F2F2;
    width: 50%;
    height: 400px;
    margin-top: 0px;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
}

.report-file {
    background: #F8F2F2;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;
    margin-top: 0px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

.patient-navigation {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    width: 100%; 
    margin-bottom: 20px; 
}

.report-file button {
    margin-top: auto;
  }
  
.prev-patient-btn {
    width: 100px;
  height: 50px;
  padding: 5px;
  background: #2D848B;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 60px;
}

.button-wrapper {
    flex-shrink: 0 ;
}
.next-patient-btn {
    width: 100px;
  height: 50px;
  padding: 5px;
  background: #2D848B;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 60px;
}